<section>
	<div class="container">
		<div class="wrap">
			<h3>Contact info</h3>
			<h1>Get in touch</h1>

			<div class="contact-info">
				<div class="contact-el">
					<img
						src="./../../../../assets/images/contacts/Chat.svg"
						alt="Chat"
					/>
					<div class="text">
						<p class="key">Talk to us:</p>
						<a href="mailto:'{{ emailToTalk }}'" class="value">{{
							emailToTalk
						}}</a>
					</div>
				</div>
				<div class="contact-el">
					<img
						src="./../../../../assets/images/contacts/iPhone.svg"
						alt="iPhone"
					/>
					<div class="text">
						<p class="key">Call us:</p>
						<a href="tel:+4055550128" class="value">{{ phone }}</a>
					</div>
				</div>
				<div class="contact-el">
					<img
						src="./../../../../assets/images/contacts/Vector.svg"
						alt="Vector"
					/>
					<div class="text">
						<p class="key">Address:</p>
						<p class="value">
							2464 Royal Ln. Mesa, New Jersey 45463, USA
						</p>
					</div>
				</div>
			</div>

			<div class="follow-links">
				<h3>Follow us:</h3>
				<app-icons [socials]="socials"></app-icons>
			</div>
		</div>

		<div class="map" id="map"></div>
	</div>
</section>
