<section class="also-like">
	<h3>Our blog</h3>
	<div class="slider-wrapper">
		<h1>You may also like</h1>
		<div class="b-wrapper">
			<button>
				<img
					src="assets/images/Line-left.svg"
					alt="Line-left"
				/>
			</button>
			<button>
				<img
					src="assets/images/Line-right.svg"
					alt="Line-right"
				/>
			</button>
		</div>
	</div>

	<div class="article-wrapper">
		<app-article
			*ngFor="let article of alsoLikeArticles"
			[articleType]="article.articleType"
			[backImg]="article.backImg"
			[category]="article.category"
			[date]="article.date"
			[duration]="article.duration"
			[title]="article.title"
			[text]="article.text"
		></app-article>
	</div>

	<div class="more">
		<h2>Do you want more articles, podcasts and videos?</h2>
		<button>Go to blog</button>
	</div>
</section>
