<section class="also-like">
	<h3>Our blog</h3>
	<div class="slider-wrapper">
		<h1>You may also like</h1>
		<div class="b-wrapper">
			<button>
				<img
					src="assets/images/single-post/also-like/Line-left.svg"
					alt="Line-left"
				/>
			</button>
			<button>
				<img
					src="assets/images/single-post/also-like/Line-right.svg"
					alt="Line-right"
				/>
			</button>
		</div>
	</div>

	<div class="article-wrapper">
		<app-article
			alt="roadtothedream"
			articleType="Podcast"
			backImg="assets/images/single-post/also-like/roadtothedream.png"
			category="Design"
			date="July 28, 2020"
			duration="36 min"
			title="What are color profiles and how they work in graphic design"
			text="Aliquam vulputate hendrerit quam sollicitudin urna enim viverra
			gravida. Consectetur urna arcu eleifend..."
		></app-article>
		<app-article
			backImg="assets/images/single-post/also-like/notebook.png"
			alt="notebook"
			articleType="Article"
			category="Development"
			date="September 1, 2020"
			title="How to choose the first programming language for a beginner"
			text="Turpis sed at magna laoreet gravida consequat tortor placerat. Gravida vitae aliquet enim egestas dui..."
		></app-article>
		<app-article
			backImg="assets/images/single-post/also-like/chel.png"
			alt="chel"
			articleType="Article"
			category="Design"
			date="August 8, 2020"
			title="Should you choose a creative profession if you are attracted to creativity?"
			text="Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices..."
		></app-article>
	</div>

	<div class="more">
		<h2>Do you want more articles, podcasts and videos?</h2>
		<button>Go to blog</button>
	</div>
</section>
