<header>
	<div class="wrap">
		<nav>
			<img src="./../../../assets/images/logo.svg" alt="logo" />
			<ul class="ul">
				<li>
					<a href=""><h3>About Us</h3></a>
				</li>
				<li>
					<a href=""><h3>Courses</h3></a>
				</li>
				<li>
					<a href=""><h3>Events</h3></a>
				</li>
				<li>
					<a href=""><h3>Blog</h3></a>
				</li>
				<li>
					<a href=""><h3>Contacts</h3></a>
				</li>
			</ul>
		</nav>
		<div class="right-part">
			<button>Get consultation</button>
			<div class="autorization">
				<img src="./../../../assets/images/Profile.svg" alt="profile" />
				<h3 (click)="modalService.changeVisible('signin')">Log in</h3>
				<span>/</span>
				<h3 (click)="modalService.changeVisible('signup')">Register</h3> 
			</div>
		</div>
	</div>
</header>
