@import '../../../app.component.scss';

.sign-in {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	background-color: #1e212cc2; 
	overflow: auto;
	z-index: 1;
}

.container {
	padding: 46px;
	padding-bottom: 24px;

	& > p {
		padding-top: 24px;

		& > a {
			color: #ff3f3a;
		}
	}
}

.wrap {
	height: min-content;
	margin-top: 120px;
	margin-bottom: 120px;
	max-width: 486px;
	position: relative;
	border-radius: 4px;
	background-color: #ffffff;
}

header {
	text-align: center;

	& > button {
		position: absolute;
		top: 28px;
		right: 28px;
		background-color: transparent;
		border: none;
	}

	& > p {
		color: #787a80;
		padding-top: 24px;
	}
}

form {
	padding-top: 24px;
	display: flex;
	flex-direction: column;

	.input-wrap{
		margin-bottom: 20px;
	}

	.remember {
		margin-bottom: 24px;
		display: flex;
		justify-content: space-between;

		& > a {
			color: #ff3f3a;
		}
	}
}

footer {
	position: relative;
	padding-top: 24px;
	padding-bottom: 48px;
	border-top: 1px solid #e5e8ed;
	display: flex;
	align-items: center;
	flex-direction: column;

	& > p {
		color: #787a80;
		padding-bottom: 16px;
	}

	& > .icons-wrapper{
		width: 116px;
		height: 20px;
	}
}
