<div class="sign-in" #signin>
	<div class="wrap">
		<div class="container">
			<header>
				<button type="button" (click)="closeHandler()">
					<img src="assets/images/Cross.svg" alt="close" />
				</button>
				<h2>Sign in</h2>
				<p>
					Sign in to your account using email and password provided
					during registration.
				</p>
			</header>

			<form>
				<div class="input-wrap">
					<app-my-input
						idForInput="email_signin"
						placeholder="Your working email"
						type="email"
						name="email"
						label="Email"
					></app-my-input>
				</div>
				<div class="input-wrap">
					<app-my-input
						idForInput="password-signin"
						placeholder="Enter your password"
						type="password"
						name="password"
						label="Password"
					></app-my-input>
				</div>

				<div class="remember" data-form-el="form-el">
					<div class="remember-wrap">
						<app-my-checkbox
							text="Keep me signed in"
						></app-my-checkbox>
					</div>
					<a href="">Forgot password?</a>
				</div>

				<app-my-button>Sign in</app-my-button>
			</form>

			<p>Don't have an account? <a href="">Sign up</a></p>
		</div>

		<footer>
			<p>Or sign in with</p>
			<div class="icons-wrapper">
				<app-icons [socials]="socials"></app-icons>
			</div>
		</footer>
	</div>
</div>
