<section>
	<div class="container">
		<div class="wrap">
			<h3>Contact info</h3>
			<h1>Get in touch</h1>

			<div class="contact-info">
				<!-- todo: вынести в отдельную компоненту contact-el-->
				<div class="contact-el">
					<img
						src="../../../assets/images/contacts/Chat.svg"
						alt="Chat"
					/>
					<div class="text">
						<p class="key">Talk to us:</p>
						<p class="value">hello@createx.com</p>
					</div>
				</div>
				<div class="contact-el">
					<img
						src="../../../assets/images/contacts/iPhone.svg"
						alt="iPhone"
					/>
					<div class="text">
						<p class="key">Call us:</p>
						<p class="value">(405) 555-0128</p>
					</div>
				</div>
				<div class="contact-el">
					<img
						src="../../../assets/images/contacts/Vector.svg"
						alt="Vector"
					/>
					<div class="text">
						<p class="key">Address:</p>
						<p class="value">
							2464 Royal Ln. Mesa, New Jersey 45463, USA
						</p>
					</div>
				</div>
			</div>

			<div class="follow-links">
				<h3>Follow us:</h3>

				<div class="social">
					<ul class="ul">
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/Facebook.svg"
									alt="fb"
							/></a>
						</li>
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/Twitter.svg"
									alt="twitter"
							/></a>
						</li>
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/YouTube.svg"
									alt="youtube"
							/></a>
						</li>
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/telegram.svg"
									alt="telegram"
							/></a>
						</li>
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/Instagram.svg"
									alt="google"
							/></a>
						</li>
						<li>
							<a href=""
								><img
									src="../../../assets/images/icons/Linked-In.svg"
									alt="in"
							/></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Сделать api -->
		<div class="map" id="map">
			<!-- <img src="../../../assets/images/map.jpg" alt="map" /> -->
			
		</div>
	</div>
</section>


