@import "../../../app.component.scss";

.toolbar {
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.sort-by-type {
		display: flex;
		gap: 12px;

		.sort-by-type_el {
			padding: 10px 20px;
			display: flex;
			align-items: center;
			gap: 8px;

			h3 {
				color: #9a9ca5;
			}

			div {
				background-color: #9a9ca5;
				width: 16px;
				height: 16px;
			}
		}

		.active {
			border: 1px solid $primary;
			border-radius: 4px;

			h3 {
				color: $primary;
			}

			div {
				background-color: $primary;
			}
		}
	}

	.sort-search-wrap {
		display: flex;

		.search-wrap{
			width: 285px;
		}
	}
}
