<div class="sign-up">
	<div class="wrap">
		<div class="container">
			<header>
				<button type="button" (click)="closeHandler()">
					<img src="assets/images/Cross.svg" alt="Cross" />
				</button>
				<h2>Sign up</h2>
				<p>
					Registration takes less than a minute but gives you full control over
					your studying.
				</p>
			</header>
			<form>
				<label for="fullname" class="label">Full Name</label>
				<input
					type="text"
					id="fullname"
					placeholder="Your full name"
					class="input"
				/>

				<label for="email-signup" class="label">Email</label>
				<input
					type="email"
					id="email-signup"
					placeholder="Your working email"
					class="input"
				/>

				<label for="password" class="label">Password</label>
				<div class="password">
					<input
						[type]="isVisibleForPassword ? 'text' : 'password'"
						id="password"
						class="input"
					/>
					<button
						class="eye"
						type="button"
						(click)="isVisibleForPassword = !isVisibleForPassword"
					>
						<img src="assets/images/Eye.svg" alt="eye" />
					</button>
				</div>

				<label for="confirm-password" class="label">Confirm Password</label>
				<div class="password">
					<input
						[type]="isVisibleForConfirmPassword ? 'text' : 'password'"
						id="confirm-password"
						class="input"
					/>
					<button
						class="eye"
						type="button"
						(click)="isVisibleForConfirmPassword = !isVisibleForConfirmPassword"
					>
						<img src="assets/images/Eye.svg" alt="eye" />
					</button>
				</div>

				<div class="remember">
					<app-my-checkbox text="Remember me"></app-my-checkbox>
				</div>
				
				<app-my-button type="submit">Sign up</app-my-button>
			</form>

			<p>Already have an account? <a href="">Sign in</a></p>
		</div>

		<footer>
			<p>Or sign in with</p>
			<div class="icons-wrapper">
				<app-icons [socials]="socials"></app-icons>
			</div>
		</footer>
	</div>
</div>
