<div class="sign-up" #signup>
	<div class="wrap">
		<div class="container">
			<header>
				<button type="button" (click)="closeHandler()">
					<img src="assets/images/Cross.svg" alt="Cross" />
				</button>
				<h2>Sign up</h2>
				<p>
					Registration takes less than a minute but gives you full
					control over your studying.
				</p>
			</header>
			<form>
				<div class="input-wrap">
					<app-my-input
						type="text"
						placeholder="Your full name"
						name="Name"
						label="Full Name"
					></app-my-input>
				</div>

				<div class="input-wrap">
					<app-my-input
						type="email"
						placeholder="Your working email"
						name="email"
						label="Email"
					></app-my-input>
				</div>
				<div class="input-wrap">
					<app-my-input
						type="password"
						placeholder="Enter your password"
						name="password"
						label="Password"
					></app-my-input>
				</div>
				<div class="input-wrap">
					<app-my-input
						type="password"
						placeholder="Confirm your password"
						name="password"
						label="Confirm Password"
					></app-my-input>
				</div>
				
				<div class="remember">
					<app-my-checkbox text="Remember me"></app-my-checkbox>
				</div>

				<app-my-button type="submit">Sign up</app-my-button>
			</form>

			<p>Already have an account? <a href="">Sign in</a></p>
		</div>

		<footer>
			<p>Or sign in with</p>
			<div class="icons-wrapper">
				<app-icons [socials]="socials"></app-icons>
			</div>
		</footer>
	</div>
</div>
