.social > ul {
	display: flex;

	& > li {
		height: max-content;

		& > a > div {
			background-color: #787a80;
			transition: background-color 0.2s ease-in-out;

			&:hover {
				background-color: #ff3f3a;
			}
		}
	}
}
