@import "../../../app.component.scss";

.subscribe {
	width: 100%;
	background-color: #f4f5f6;
}

.wrap {
	display: flex;
	justify-content: space-between;

	.form-wrap {
		max-width: 600px;
		padding-top: 100px;

		h1{
			font-size: 32px;
		}

		.form {
			padding-top: 48px;

			.input-button-wrap{
				display: flex;
				gap: 24px;
				padding-bottom: 24px;

				.input-wrap{
					width: 422px;
				}
			}
		}
	}
}
