<section class="subscribe">
	<app-container>
		<div class="wrap">
			<img
				src="assets/images/subscribe/illustration.png"
				alt="illustration"
			/>

			<div class="form-wrap">
				<h1>
					Want to get the best articles weekly? Subscribe to our
					newsletter!
				</h1>
				<form class="form">
					<div class="input-button-wrap">
						<input placeholder="Your working email" />
						<app-my-button>Subscribe</app-my-button>
					</div>
					<app-my-checkbox
						text="I agree to receive communications from Createx Online School"
					></app-my-checkbox>
				</form>
			</div>
		</div>
	</app-container>
</section>
