<mat-card>
	<article class="article" [ngStyle]="{ maxWidth: articleWidth }">
		<div class="back-img-wrap">
			<img
				class="back-img"
				appColorful
				[src]="backImg"
				[alt]="backImg | getAltFromSrc"
				(click)="navigateToSinglePost()"
			/>

			<div class="type">
				<img
					[src]="articleTypeSrc[articleType]"
					[alt]="articleTypeSrc[articleType] | getAltFromSrc"
				/>
				<div class="type-text">{{ articleType }}</div>
			</div>
		</div>

		<div class="meta">
			<div class="category">{{ category }}</div>
			<div class="hr"></div>
			<app-meta-data type="date" [text]="date"></app-meta-data>
			<div *ngIf="duration" class="hr"></div>
			<app-meta-data
				*ngIf="duration"
				type="duration"
				[text]="duration"
			></app-meta-data>
		</div>

		<h3>{{ title }}</h3>
		<p class="text">
			{{ text }}
		</p>
		<div class="action">
			<a routerLink="/single-post">
				<h3>{{ articleTypeAction[articleType] }}</h3>
				<img src="assets/images/Line-right-red.svg" alt="Line-right" />
			</a>
		</div>
	</article>
</mat-card>
