<section class="subscribe">
	<div class="container">
		<div class="wrap">
			<img
				src="assets/images/single-post/illustration.png"
				alt="illustration"
			/>

			<div class="form-wrap">
				<h1>
					Want to get the best articles weekly? Subscribe to our
					newsletter!
				</h1>
				<form class="form">
					<div class="input-button-wrap">
						<input placeholder="Your working email" />
						<button class="b-submit" type="submit">
							Subscribe
						</button>
					</div>
					<app-my-checkbox
						text="I agree to receive communications from Createx Online School"
					></app-my-checkbox>
				</form>
			</div>
		</div>
	</div>
</section>
