<div class="sign-up">
	<div class="wrap">
		<header>
			<button>
				<img src="../../assets/images/Cross.svg" alt="close" />
			</button>
			<h1>Sign up</h1>
			<p>
				Registration takes less than a minute but gives you full control
				over your studying.
			</p>
		</header>

		<form>
			<label for="fullname" class="label">Full Name</label>
			<input
				type="text"
				id="fullname"
				placeholder="Your full name"
				class="input"
			/>

			<label for="email" class="label">Email</label>
			<input
				type="text"
				id="email"
				placeholder="Your working email"
				class="input"
			/>

			<label for="password" class="label">Password</label>
			<input type="password" id="password" class="input" />

			<label for="confirm-password" class="label">Confirm Password</label>
			<input type="password" id="confirm-password" class="input" />

			<input type="checkbox" id="remember" />
			<label for="remember">Remember me</label>

			<button type="submit" class="b-submit">Sign up</button>
		</form>

		<p>Already have an account? <a href="">Sign in</a></p>

		<footer class="footer">
			<p>Or sign in with</p>
			<div class="social">
				<ul class="ul">
					<li>
						<a href=""><img src="" alt="fb" /></a>
					</li>
					<li>
						<a href=""><img src="" alt="google" /></a>
					</li>
					<li>
						<a href=""><img src="" alt="twitter" /></a>
					</li>
					<li>
						<a href=""><img src="" alt="in" /></a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
</div>
