<div class="charts">
	<div *ngFor="let item of chartsWithOptions; let i = index">
		<h1>id: {{ item.id }}</h1>
		<div class="chart" #chart>
			<button (click)="fullScreenHandler(i)">
				<img src="assets/images/fullscreen.svg" alt="fullscreen" />
			</button>
			<canvas
				class="canvas"
				data-full="false"
				baseChart
				width="600"
				height="600"
				[type]="'line'"
				[legend]="item.lineChartLegend"
				[options]="item.lineChartOptions"
				[data]="item.lineChartData"
			>
			</canvas>
		</div>
	</div>
</div>
