.title-wrap {
	text-align: center;
	padding-top: 80px;
}

.article-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pagination-wrap{
	padding-top: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 180px;
}
