.select-wrap {
	margin-right: 40px;
	display: flex;
	align-items: center;
	gap: 12px;

	select {
		border: 1px solid #d7dadd;
		display: inline-block;
		border-radius: 4px;
		padding: 0 81px 0 16px;
		height: 44px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
	}
	.select {
		position: relative;
	}
	.select:after {
		content: "";
		background: url("../../../../assets/images/Down-chevron.svg")
			no-repeat;
		position: absolute;
		right: 14px;
		top: 14px;
		z-index: 1;
		text-align: center;
		width: 16px;
		height: 100%;
	}
}