<section>
	<div class="container">
		<img src="assets/images/illustration.svg" alt="illustration" />
		<div class="wrap">
			<app-title
				title="Drop us a line"
				subtitle="Any questions?"
			></app-title>

			<form>
				<div class="input-wrap">
					<label for="firstname" class="label">First Name*</label>
					<input
						type="text"
						id="firstname"
						placeholder="Your first name"
						class="input"
					/>
				</div>

				<div class="input-wrap">
					<label for="lastname" class="label">Last Name*</label>
					<input
						type="text"
						id="lastname"
						placeholder="Your last name"
						class="input"
					/>
				</div>

				<div class="input-wrap">
					<label for="email" class="label">Email*</label>
					<input
						type="email"
						id="email"
						class="input"
						placeholder="Your working email"
					/>
				</div>

				<div class="input-wrap">
					<label for="phone" class="label">Phone</label>
					<input
						type="phone"
						id="phone"
						class="input"
						placeholder="Your phone number"
					/>
				</div>

				<div class="textarea-wrap">
					<label for="message" class="label">Message*</label>
					<textarea
						id="message"
						placeholder="Your message"
					></textarea>
				</div>

				<div class="agree-and-button">
					<div class="agree">
						<app-my-checkbox
							text="I agree to receive communications from Createx Online School"
							maxWidth="287px"
						></app-my-checkbox>
					</div>
					<button type="submit" class="b-submit">
						<h3>Send message</h3>
					</button>
				</div>
			</form>
		</div>
	</div>
</section>
