<app-container>
	<section>
		<div class="section-wrapper">
			<img src="assets/images/illustration.svg" alt="illustration" />
			<div class="wrap">
				<app-title
					title="Drop us a line"
					subtitle="Any questions?"
				></app-title>

				<form>
					<div class="input-wrap">
						<app-my-input
							type="text"
							placeholder="Your first name"
							name="firstname"
							label="First Name*"
							[ngStyle]="{ fontSize: '16px' }"
						></app-my-input>
					</div>

					<div class="input-wrap">
						<app-my-input
							type="text"
							placeholder="Your last name"
							name="lastname"
							label="Last Name*"
							[ngStyle]="{ fontSize: '16px' }"
						></app-my-input>
					</div>

					<div class="input-wrap">
						<app-my-input
							type="email"
							placeholder="Your working email"
							name="email"
							label="Email*"
							[ngStyle]="{ fontSize: '16px' }"
						></app-my-input>
					</div>

					<div class="input-wrap">
						<app-my-input
							type="phone"
							placeholder="Your phone number"
							name="phone"
							label="Phone"
							[ngStyle]="{ fontSize: '16px' }"
						></app-my-input>
					</div>

					<div class="textarea-wrap">
						<label class="label">Message*
							<textarea
								placeholder="Your message"
								name="message"
							></textarea>
						</label>
					</div>

					<div class="agree-and-button">
						<div class="agree">
							<app-my-checkbox
								text="I agree to receive communications from Createx Online School"
								maxWidth="287px"
								[ngStyle]="{ fontSize: '16px' }"
							></app-my-checkbox>
						</div>

						<div class="button-wrap">
							<app-my-button type="submit">
								Send message
							</app-my-button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</app-container>
