<label *ngIf="type !== 'password'; else password">
	{{ label }}
	<input
		class="input"
		[name]="name"
		[type]="type"
		[placeholder]="placeholder"
		[ngStyle]="{height, marginTop: label ? '8px' : '0'}"

	/>
</label>

<ng-template #password>
	<label>
		{{ label }}
		<div class="password" [ngStyle]="{height, marginTop: label ? '8px' : '0'}">
			<input
				[type]="isVisibleForPassword ? 'text' : 'password'"
				[name]="name"
				[placeholder]="placeholder"
			/>

			<button
				class="eye"
				type="button"
				(click)="isVisibleForPassword = !isVisibleForPassword"
			>
				<img src="assets/images/Eye.svg" alt="eye" />
			</button>
		</div>
	</label>
</ng-template>
