.password {
	border-radius: 4px;
	border: 1px solid #d7dadd;
	position: relative;
	border-radius: 4px;
	border: 1px solid #d7dadd;
	width: 100%;

	& > input {
		color: #424551;
		padding: 11px 37px 12px 16px;
		height: 100%;
		border-radius: 4px;
		width: 100%;
		border: none;
	}

	& > .eye {
		position: absolute;
		top: 12px;
		right: 10px;
		background-color: transparent;
		border: none;
	}
}

.input{
	display: inline-block;
	padding: 11px 16px 12px;
	border-radius: 4px;
	border: 1px solid #d7dadd;
	width: 100%;
}